$nazione-background: #f5f6fa;

.nazioneContainer {
  // width: 100%;
  padding: 16px;
  background-color: $nazione-background;
  .nazioneTitle {
    text-align: center;
    font-size: 2em;
  }
  .filtroContainer {
    // width: 100%;
  }
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  .titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: green;
    .headTitle{
      // Nothing
      // background-color: blue;
      height: 100%;
    }
    .sortIcon{
      display: flex;
      flex-direction: column;
      // background-color: red;
    }
  }
}

table {
  width: 100%;
  padding: 16px;
}
